* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body{
  background: radial-gradient(at 2% 96%, hsla(228,76%,51%,1) 0, transparent 57%), 
  radial-gradient(at 94% 90%, hsla(179,100%,46%,1) 0, transparent 58%), 
  radial-gradient(at 100% 58%, hsla(141,68%,66%,1) 0, transparent 40%), 
  radial-gradient(at 99% 21%, hsla(40,99%,69%,1) 0, transparent 52%), 
  radial-gradient(at 75% 9%, hsla(33,100%,69%,1) 0, transparent 52%), 
  radial-gradient(at 61% 3%, hsla(359,100%,70%,1) 0, transparent 16%), 
  radial-gradient(at 14% 14%, hsla(331,96%,54%,1) 0, transparent 95%);
}

.MuiPaper-root.ohm-card {
  background-color: #282727;
}

.MuiButton-containedPrimary {
  background: linear-gradient(77.58deg, #FF666B 0%, #E04FB6 130.36%);
  box-shadow: none;
}


.jss11 .MuiPaper-root {
  background-color: #ff666b;
  background-image: linear-gradient(333deg, rgb(225 90 25 / 36%) 0%, rgba(0,0,0,0) 50%, rgb(229 32 132 / 71%) 100%);
}

.MuiDrawer-paperAnchorDockedLeft {
  box-shadow: 9px 0px 0px hsl(358deg 100% 70% / 45%);
}

.bond-discounts>p {
  color: #282727;
}

.MuiLink-root:hover {
  color: #f1e3a7;
}

path.recharts-curve.recharts-line-curve {
  stroke: hsl(157deg 100% 50%);
  color: hsl(157deg 100% 50%);
 }

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Square";
  overflow: hidden;
  transition: all ease 0.33ms;
  background: linear-gradient(180deg, rgba(8, 35, 23, 0), rgba(10, 10, 10, 0.9)),
    linear-gradient(333deg, rgba(13, 27, 15, 0.2), rgba(18, 25, 17, 0.08)),
    radial-gradient(circle at 77% 89%, rgba(15, 25, 15, 0.8), rgba(15, 23, 19, 0) 50%),
    radial-gradient(circle at 15% 95%, rgba(15, 23, 15, 0.8), rgba(15, 23, 19, 0) 43%),
    radial-gradient(circle at 65% 23%, rgba(20, 42, 19, 0.4), rgba(23, 32, 21, 0) 70%),
    radial-gradient(circle at 10% 0%, rgba(12, 12, 12, 0.33), rgba(17, 21, 14, 0) 35%),
    radial-gradient(circle at 11% 100%, rgba(11, 25, 23, 0.3), rgba(11, 35, 23, 0) 30%);
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

.ohm-card {
  max-width: 833px;
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
    h5 {
      font-weight: 600 !important;
    }
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
}

.ohm-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}
